Project #2: Secret Number

Write a game where the human player will try to guess a secret number chosen by
the computer.
This will involve you to learn how to write a program that reads input (as well
as writes output with System.out.println).
This will also require you to use loops in your code.

Game Play
2. Computer chooses a secret number between 1 and 100. (Lookup random number generator)
3. Player guesses what the secret number is.
4. Computer tells player whether the secret number is lower, higher, or equal
to their most recent guess.
5. Repeat steps 3-4 until the player guesses the secret number correctly.
6. Print a congratulatory message when the secret number is guessed!

Advanced Game Play
X - Player enters lower and upper bound that the secret number can be between.
X - Player only has X number of chances to guess the secret number.
X - Two human players competing with each other to guess the secret number first.
